# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# VS Code
.vscode/


# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

# Mypy cache
.mypy_cache/
junit/test-results.xml
_build/.buildinfo
_build/api_guide.html
_build/genindex.html
_build/getting_started.html
_build/index.html
_build/installation.html
_build/introduction.html
_build/objects.inv
_build/py-modindex.html
_build/release_notes.html
_build/search.html
_build/searchindex.js
_build/.doctrees/api_guide.doctree
_build/.doctrees/environment.pickle
_build/.doctrees/getting_started.doctree
_build/.doctrees/index.doctree
_build/.doctrees/installation.doctree
_build/.doctrees/introduction.doctree
_build/.doctrees/release_notes.doctree
_build/_sources/api_guide.rst.txt
_build/_sources/getting_started.rst.txt
_build/_sources/index.rst.txt
_build/_sources/installation.rst.txt
_build/_sources/introduction.rst.txt
_build/_sources/release_notes.rst.txt
_build/_static/_sphinx_javascript_frameworks_compat.js
_build/_static/basic.css
_build/_static/check-solid.svg
_build/_static/clipboard.min.js
_build/_static/copy-button.svg
_build/_static/copybutton_funcs.js
_build/_static/copybutton.css
_build/_static/copybutton.js
_build/_static/custom.css
_build/_static/doctools.js
_build/_static/documentation_options.js
_build/_static/file.png
_build/_static/jquery.js
_build/_static/language_data.js
_build/_static/minion.jpg
_build/_static/minus.png
_build/_static/plus.png
_build/_static/pygments.css
_build/_static/searchtools.js
_build/_static/sphinx_highlight.js
_build/_static/css/badge_only.css
_build/_static/css/theme.css
_build/_static/css/fonts/fontawesome-webfont.eot
_build/_static/css/fonts/fontawesome-webfont.svg
_build/_static/css/fonts/fontawesome-webfont.ttf
_build/_static/css/fonts/fontawesome-webfont.woff
_build/_static/css/fonts/fontawesome-webfont.woff2
_build/_static/css/fonts/lato-bold-italic.woff
_build/_static/css/fonts/lato-bold-italic.woff2
_build/_static/css/fonts/lato-bold.woff
_build/_static/css/fonts/lato-bold.woff2
_build/_static/css/fonts/lato-normal-italic.woff
_build/_static/css/fonts/lato-normal-italic.woff2
_build/_static/css/fonts/lato-normal.woff
_build/_static/css/fonts/lato-normal.woff2
_build/_static/css/fonts/Roboto-Slab-Bold.woff
_build/_static/css/fonts/Roboto-Slab-Bold.woff2
_build/_static/css/fonts/Roboto-Slab-Regular.woff
_build/_static/css/fonts/Roboto-Slab-Regular.woff2
_build/_static/js/badge_only.js
_build/_static/js/html5shiv-printshiv.min.js
_build/_static/js/html5shiv.min.js
_build/_static/js/theme.js
